
doctype 5
html
  head
    link(rel='stylesheet', href='build/logo.css')
  body
    svg(width=940, height=500)
      text(x=100, y=330) Sea
      text(x=620, y=330) js

      circle#c1(cx=440, cy=330, r=30)
      circle#c2(cx=480, cy=140, r=26)
      circle#c3(cx=570, cy=200, r=40)
      circle#c4(cx=590, cy=310, r=13)
      circle#c5(cx=600, cy=360, r=13)